
.experience-container {
    display: flex;
    max-width: 1300px;
    width: 100%;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    padding: 5% 3.5%;
}

/* Left Section Styling */
.content-box {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 300px;
}

.experience-circle {
  background-color: #f3b034;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}
.experience-circle .number {
  font-size: 150px;
  font-weight: 800;
  color: #1a2b33;
  position: absolute;
  top: 60px;
  z-index: 1;
}

.text-content h1 {
  font-size: 32px;
  color: #1a2b33;
  margin-bottom: 15px;
}

.text-content p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.discover-link {
  text-decoration: none;
  color: #006b6b;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Form Section Styling */
.form-card {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 450px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.form-card h2 {
  font-size: 22px;
  margin-bottom: 30px;
  color: #1a2b33;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.input-group input {
  width: 100%;
  padding: 12px 15px 12px 45px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  font-size: 14px;
  color: #666;
}

.btn-submit {
  width: 100%;
  padding: 15px;
  background-color: #6a9696;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: #557a7a;
}

/* Responsive Media Queries */
@media (max-width: 992px) {
  .experience-container {
    flex-direction: column;
    gap: 4rem;
    /* text-align: center; */
  }

  .content-box {
    width: 650px;
    /* padding: 0px 20px; */
  }

  .form-card {
    max-width: 650px;
  }

  .experience-circle .number {
    font-size: 120px;
    top: 0;
  }
  /* .content-box {
    flex-direction: column;
  } */

  /* .experience-circle {
    width: 120px;
    height: 120px;
  } */

  /* .experience-circle .number {
    font-size: 60px;
  } */
}

@media (max-width: 768px) {
  .content-box {
    width: 85vw;
  }
}

@media (max-width: 570px) {
  .content-box {
    flex-direction: column;
  }
  .text-content{
    text-align: center;
  }
  .discover-link{
    justify-content: center;
  }

  .experience-circle {
    width: 175px;
    height: 175px;
  }
}
